
@{
   
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--about-->
<div class="about " id="about">
    <div class="container">
        <h3 class="title clr-white">About</h3>
        <div class="upper-about">
            <h2>What are We</h2>
            <p>
                ellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis,
                feugiat a, tellusenim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus
            </p>
        </div>
        <div class="agileits-banner-grids text-center">
            <div class="banner-bottom-girds">
                <div class="col-md-4  col-sm-4 clr1 agileits-banner-grid">
                    <span class="fa fa-university banner-icon" aria-hidden="true"></span>
                    <h4>Academics</h4>
                    <p>Itaque earum rerum hic tenetur a sapiente delectus reiciendis maiores alias consequatur aut.</p>
                    <a class="w3_play_icon1" href="#" data-toggle="modal" data-target="#myModal"> read more</a>
                </div>
                <div class="col-md-4 col-sm-4 clr2 agileits-banner-grid">
                    <span class="fa fa-tags banner-icon" aria-hidden="true"></span>
                    <h4>Admission</h4>
                    <p>Itaque earum rerum hic tenetur a sapiente delectus reiciendis maiores alias consequatur aut.</p>
                    <a class="w3_play_icon1" href="#" data-toggle="modal" data-target="#myModal"> read more</a>
                </div>
                <div class=" col-md-4 col-sm-4 clr3 agileits-banner-grid">
                    <span class="fa fa-graduation-cap banner-icon" aria-hidden="true"></span>
                    <h4>Course</h4>
                    <p>Itaque earum rerum hic tenetur a sapiente delectus reiciendis maiores alias consequatur aut.</p>
                    <a class="w3_play_icon1" href="#" data-toggle="modal" data-target="#myModal"> read more</a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!--//about-->

